<html>

<head>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    {{>header}}
    <img src="/image/download.png" height=100 width=100>
    <h1>About Time!!</h1>
    <p>This is cool...lets do it again!!</p>
</body>

</html>