<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/slds/styles/salesforce-lightning-design-system.css" />
        {{>header}}
    
</head>

<body style="background-color:white">
    <div class="slds-card">
        <div class="slds-p-around_medium">
            <h1>Hello World! Need help ? Press F1</h1>
        </div>
    </div>
</body>
</html>