<html>

<head>
    <link rel="stylesheet" href="/slds/styles/salesforce-lightning-design-system.css" />
    <script src="/js/app.js"></script>
    <div class="slds-page-header" style="color: lightcoral">
    {{>header}}
    </div>
</head>

<body>
    <div>
        <div class="slds-card">
            <div class="slds-p-around_medium">
                <input name="searchTxt" type="text" id="searchTxt" />
                <button class="slds-button slds-button_brand" onclick="handleClick()">"Click"</button>
                
            </div>
            <div class="slds-card">
                <strong style="color:blueviolet; bold">
                    <span id="locationTxt"></span>
                </strong>
                <br>
                <strong id="tempTxt"></strong>
                <br>
                <strong id="corTxt"></strong>
            </div>
            <footer class="slds-card__footer">                
                    {{>footer}}
            </footer>
        </div>
    
    
</body>

</html>